@import url('https://starscade.github.io/particl/min.css');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@font-face{
	font-family:'Markdown';
	src:url('https://fonts.gstatic.com/s/kalam/v11/YA9dr0Wd4kDdMthROCc.woff2');
}
@font-face{
	font-family:'HTML';
	src:url('https://fonts.gstatic.com/s/josefinsans/v17/Qw3PZQNVED7rKGKxtqIqX5E-AVSJrOCfjY46_DjQbMZhLw.woff2');
}
:root{
	--font:'HTML';
}
article{
	border-color:var(--mg);
	cursor:not-allowed;
}
body{
	opacity:0;
	transition:opacity 1s;
}
input{display:none;}
nav{
	background-color:var(--bg);
	bottom:0;
	font-size:36pt;
	overflow-x:auto;
	padding:4pt;
	position:fixed;
	transition:opacity .5s;
	user-select:none;
	white-space:nowrap;
	width:100%;
}nav:hover{
	opacity:1;
}nav span{
	padding:.5em;
}nav span:not(.cis,.pro){
	cursor:pointer;
}nav span.material-icons:not(.cis,.pro):focus,nav span.material-icons:not(.cis,.pro):hover{
	background-color:var(--mg);
	border-radius:var(--rad);
}
.cis,.pro{
	color:var(--mg);
}
.modal,.rm{
	display:none;
}
.day{
	--bg:#ddd;
	--fg:#667;
	/* --hi:Goldenrod; */
	--mg:#bbb;
	--pg:#eee;
	--shado:#ccc;
}
.ugly{
	cursor:text;
	font-family:'Markdown';
	text-align:justify;
}
@media(orientation:landscape){
	nav{
		bottom:auto;
		top:0;
	}
}
@media print{
	.day{
		--bg:inherit;
		--fg:inherit;
		--mg:inherit;
		--pg:inherit;
		--shado:inherit;
	}
}