@import url('partic1.css');
@font-face{
	font-family:'HTML';
	src:url('josefin.woff2');
}
@font-face{
	font-family:'Material Icons';
	src:url('matico.woff2');
}
::-webkit-scrollbar-thumb,::selection{
	background-color:var(--mg);
}
:root{
	--font:'HTML';
	--pt:18pt;
	cursor:cell;
}
article{
	border-color:var(--mg);
	cursor:not-allowed;
	/* font-size:100%; */
	margin-bottom:3em;
	min-height:80vh;
}article:focus{
	outline:none;
}
body{
	opacity:0;
	transition:opacity 1s;
}
hr{
	background:var(--mg);
	margin:.5em;
}
input{display:none;}
nav{
	/* backdrop-filter:blur(8px); */
	/* background-color:rgba(var(--bg),.8); */
	background-color:var(--bg);
	bottom:0;
	font-size:36pt;
	overflow-x:auto;
	/* overflow:visible; */
	padding:4pt;
	position:fixed;
	transition:opacity .5s;
	user-select:none;
	white-space:nowrap;
	width:100%;
}nav:hover{
	opacity:1;
}nav:first-of-type{
	z-index:10;
}nav span{
	padding:.5em;
}nav span:not(.cis){
	cursor:pointer;
}nav span.material-icons:not(.cis):active{
	background-color:var(--mg);
	border-radius:var(--rad);
}
p:first-of-type::first-letter{
	font-weight:normal;
	margin-top:.4em;
}@-moz-document url-prefix(){
	p:first-of-type::first-letter{
		margin-top:.15em;
	}
}p:first-of-type::first-line{
	font-weight:bold;
}p:first-of-type::first-line{
	font-weight:bold;
}
.cis{
	/* color:var(--mg); */
	opacity:.5;
}
.rm{
	display:none;
}
.day{
	--bg:#ddd;
	--fg:#667;
	--mg:#bbb;
	--pg:#eee;
}
.material-icons{
	direction:ltr;
	display:inline-block;
	font-family:'Material Icons';
	font-feature-settings:'liga';
	font-size:24px;
	-webkit-font-smoothing:antialiased;
	font-style:normal;
	font-weight:normal;
	letter-spacing:normal;
	line-height:1;
	text-transform:none;
	white-space:nowrap;
	word-wrap:normal;
}
.ugly{
	cursor:text;
	/* font-family:'Markdown'; */
	text-align:left;
	white-space:pre-wrap;
}
#ui-exit{
	color:var(--bad);
}
@media(orientation:landscape){
	article{
		margin-bottom:20vh;
	}
	nav{
		bottom:auto;
		opacity:0;
		top:0;
	}nav span.material-icons:not(.cis):hover{
		background-color:var(--mg);
		border-radius:var(--rad);
	}
	#ui-full{
		display:inline;
	}
	.mobi{
		display:none;
	}
}
@media print{
	:root{
		--pt:14pt;
	}
	.day{
		--bg:inherit;
		--fg:inherit;
		--mg:inherit;
		--pg:inherit;
		--shado:inherit;
	}
}
